In [57]:
#Importamos las librerias necesarias para transformar y modificar los datos

import numpy as np
import pandas as pd

In [58]:
#Importamos el archivo .csv con read_csv

df = pd.read_csv("datos_climaticos.csv")

In [59]:
df

,latitud,provincia,altitud,indicativo,nombre,indsinop,longitud,fecha,p_max,n_gra,...,nv_0050,p_sol,nv_1000,nv_0100,q_min,evap,glo,ts_20,ts_10,ts_50
0,413515N,BARCELONA,74,0252D,ARENYS DE MAR,8186.0,023224E,1981-10,8.0(21),0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,413515N,BARCELONA,74,0252D,ARENYS DE MAR,8186.0,023224E,1981-11,0.0(--),0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,413515N,BARCELONA,74,0252D,ARENYS DE MAR,8186.0,023224E,1981-12,10.4(28),0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,413515N,BARCELONA,74,0252D,ARENYS DE MAR,8186.0,023224E,1981-13,53.6(17/jul),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,413515N,BARCELONA,74,0252D,ARENYS DE MAR,8186.0,023224E,1981-1,16.0(13),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112445,280249N,STA. CRUZ DE TENERIFE,64,C429I,TENERIFE SUR AEROPUERTO,60025.0,163340W,2023-8,1.3(25),0.0,...,0.0,82.0,0.0,0.0,1001.2(14),NaN,74674.0,NaN,NaN,NaN
112446,280249N,STA. CRUZ DE TENERIFE,64,C429I,TENERIFE SUR AEROPUERTO,60025.0,163340W,2023-9,4.4(22),0.0,...,0.0,71.0,0.0,0.0,1004.4(03),NaN,66518.0,NaN,NaN,NaN
112447,280249N,STA. CRUZ DE TENERIFE,64,C429I,TENERIFE SUR AEROPUERTO,60025.0,163340W,2023-11,19.8(30),0.0,...,0.0,73.0,0.0,0.0,998.0(30),NaN,44027.0,NaN,NaN,NaN
112448,280249N,STA. CRUZ DE TENERIFE,64,C429I,TENERIFE SUR AEROPUERTO,60025.0,163340W,2023-12,1.0(02),0.0,...,0.0,74.0,0.0,0.0,998.4(01),NaN,40431.0,NaN,NaN,NaN
112449,280249N,STA. CRUZ DE TENERIFE,64,C429I,TENERIFE SUR AEROPUERTO,60025.0,163340W,2023-13,22.7(10/feb),0.0,...,0.0,76.0,0.0,0.0,998.0(30/nov),NaN,772993.0,NaN,NaN,NaN

In [60]:
#Creamos la variable eliminar para eliminar las columnas que no necesitamos con drop

eliminar = ["n_fog","altitud","n_gra","np_100","np_001","np_300","n_tor","n_nie","np_010","nw_55","w_racha","nv_0050","ts_20","ts_10","ts_50","nw_91","w_rec","w_med","e","n_cub","n_des","n_nub","inso","q_max","q_mar","q_med","p_sol","nv_1000","nv_0100","q_min","evap","glo","indicativo","indsinop","p_max","ts_min","ta_min","ti_max","ta_max"]

df.drop(eliminar,axis = 1, inplace=True)

In [61]:
df

,latitud,provincia,nombre,longitud,fecha,tm_min,nt_30,p_mes,n_llu,nt_00,tm_mes,tm_max,hr
0,413515N,BARCELONA,ARENYS DE MAR,023224E,1981-10,14.4,0.0,23.8,8.0,0.0,18.6,22.7,NaN
1,413515N,BARCELONA,ARENYS DE MAR,023224E,1981-11,10.3,0.0,0.0,1.0,0.0,14.1,17.8,NaN
2,413515N,BARCELONA,ARENYS DE MAR,023224E,1981-12,8.1,0.0,20.9,10.0,0.0,11.8,15.4,NaN
3,413515N,BARCELONA,ARENYS DE MAR,023224E,1981-13,NaN,NaN,439.8,NaN,NaN,NaN,NaN,NaN
4,413515N,BARCELONA,ARENYS DE MAR,023224E,1981-1,5.1,0.0,38.0,NaN,0.0,9.1,13.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112445,280249N,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,163340W,2023-8,23.5,20.0,1.3,1.0,0.0,27.5,31.5,59.0
112446,280249N,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,163340W,2023-9,21.6,0.0,7.5,4.0,0.0,25.2,28.8,66.0
112447,280249N,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,163340W,2023-11,19.5,5.0,22.1,4.0,0.0,23.5,27.5,58.0
112448,280249N,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,163340W,2023-12,16.8,0.0,1.1,2.0,0.0,20.8,24.6,53.0
112449,280249N,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,163340W,2023-13,19.0,69.0,71.0,32.0,0.0,23.1,27.2,59.0

In [62]:
#Vamos a coger las siguientes estaciones para tener un plano general de España con sus coordenadas [Latitud, Longitud]:

#Hay que pasar de coordenadas UTM a coordenadas decimales para la proyeccion en la visualizacion

#1º "BARCELONA: BARCELONA AEROPUERTO" ["411734N","020412E"] = ["41.292777","2.070000"]
#2º "SEVILLA: SEVILLA AEROPUERTO" ["372500N","055245W"] = ["37.41666","-5.8791666"]
#3º "VALENCIA:VALENCIA" ["392850N","002159W"] = ["39.48055","-0.366388"]
#4º "BIZKAIA: BILBAO AEROPUERTO" ["431753N","025423W"] = ["43.298055","-2.906388"] 
#5º "MADRID: MADRID, RETIRO" ["402443N","034041W"] = ["40.411944","-3.678055"]  
#6º "OURENSE: OURENSE" ["421931N","075135W"] = ["42.325277","-7.859722"]  
#7º "ALMERIA: ALMERIA AEROPUERTO" ["365047N","022125W"] = ["36.846388","-2.356944"]
#8º "SALAMANCA: SALAMANCA AEROPUERTO" ["405734N","052954W"] = ["40.95944","-5.498333"]
#9º "ILLES BALEARS: PALMA DE MALLORCA, AEROPUERTO" ["393339N","024412E"] = ["39.560833","2.736666"]
#10º "STA. CRUZ DE TENERIFE: HIERRO AEROPUERTO" ["274908N","175320W"] = ["27.81888","-17.88888"]

In [63]:
# Vamos a cambiar el nombre de las columnas con .rename:

nuevas_columnas = {
    "nt_30":"Dias>30º",
    "p_mes":"Precipitacion",
    "n_llu":"Lluvia",
    "latitud":"Latitud",
    "provincia":"Provincia",
    "nombre":"Nombre",
    "longitud":"Longitud",
    "fecha":"Fecha",
    "tm_min":"Tmed_min",
    "tm_mes":"Tmed_year",
    "tm_max":"Tmed_max",
    "hr":"Hum relativa",
    "nt_00":"Dias<0º"}

df = df.rename(columns = nuevas_columnas)

In [64]:
df

,Latitud,Provincia,Nombre,Longitud,Fecha,Tmed_min,Dias>30º,Precipitacion,Lluvia,Dias<0º,Tmed_year,Tmed_max,Hum relativa
0,413515N,BARCELONA,ARENYS DE MAR,023224E,1981-10,14.4,0.0,23.8,8.0,0.0,18.6,22.7,NaN
1,413515N,BARCELONA,ARENYS DE MAR,023224E,1981-11,10.3,0.0,0.0,1.0,0.0,14.1,17.8,NaN
2,413515N,BARCELONA,ARENYS DE MAR,023224E,1981-12,8.1,0.0,20.9,10.0,0.0,11.8,15.4,NaN
3,413515N,BARCELONA,ARENYS DE MAR,023224E,1981-13,NaN,NaN,439.8,NaN,NaN,NaN,NaN,NaN
4,413515N,BARCELONA,ARENYS DE MAR,023224E,1981-1,5.1,0.0,38.0,NaN,0.0,9.1,13.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112445,280249N,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,163340W,2023-8,23.5,20.0,1.3,1.0,0.0,27.5,31.5,59.0
112446,280249N,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,163340W,2023-9,21.6,0.0,7.5,4.0,0.0,25.2,28.8,66.0
112447,280249N,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,163340W,2023-11,19.5,5.0,22.1,4.0,0.0,23.5,27.5,58.0
112448,280249N,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,163340W,2023-12,16.8,0.0,1.1,2.0,0.0,20.8,24.6,53.0
112449,280249N,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,163340W,2023-13,19.0,69.0,71.0,32.0,0.0,23.1,27.2,59.0

In [65]:
#Vamos a ordenar el DataFrame por grupos para que quede lo mas ordenado posible:

orden_columnas = ["Provincia","Nombre","Fecha","Latitud","Longitud","Tmed_min","Tmed_year","Tmed_max","Dias<0º","Dias>30º","Hum relativa","Precipitacion","Lluvia"]

df = df[orden_columnas]

In [66]:
df

,Provincia,Nombre,Fecha,Latitud,Longitud,Tmed_min,Tmed_year,Tmed_max,Dias<0º,Dias>30º,Hum relativa,Precipitacion,Lluvia
0,BARCELONA,ARENYS DE MAR,1981-10,413515N,023224E,14.4,18.6,22.7,0.0,0.0,NaN,23.8,8.0
1,BARCELONA,ARENYS DE MAR,1981-11,413515N,023224E,10.3,14.1,17.8,0.0,0.0,NaN,0.0,1.0
2,BARCELONA,ARENYS DE MAR,1981-12,413515N,023224E,8.1,11.8,15.4,0.0,0.0,NaN,20.9,10.0
3,BARCELONA,ARENYS DE MAR,1981-13,413515N,023224E,NaN,NaN,NaN,NaN,NaN,NaN,439.8,NaN
4,BARCELONA,ARENYS DE MAR,1981-1,413515N,023224E,5.1,9.1,13.0,0.0,0.0,NaN,38.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112445,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,2023-8,280249N,163340W,23.5,27.5,31.5,0.0,20.0,59.0,1.3,1.0
112446,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,2023-9,280249N,163340W,21.6,25.2,28.8,0.0,0.0,66.0,7.5,4.0
112447,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,2023-11,280249N,163340W,19.5,23.5,27.5,0.0,5.0,58.0,22.1,4.0
112448,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,2023-12,280249N,163340W,16.8,20.8,24.6,0.0,0.0,53.0,1.1,2.0
112449,STA. CRUZ DE TENERIFE,TENERIFE SUR AEROPUERTO,2023-13,280249N,163340W,19.0,23.1,27.2,0.0,69.0,59.0,71.0,32.0

In [11]:
# Una vez reordenadas las columnas, vamos a filtrar por las siguientes estaciones meterologicas:

""" 1º "BARCELONA: BARCELONA AEROPUERTO" 
    2º "SEVILLA: SEVILLA AEROPUERTO" 
    3º "VALENCIA:VALENCIA AEROPUERTO"
    4º "BIZKAIA: BILBAO AEROPUERTO" 
    5º "MADRID: MADRID, RETIRO" 
    6º "OURENSE: OURENSE" 
    7º  "STA. CRUZ DE TENERIFE: HIERRO AEROPUERTO"
    8º "SALAMANCA: SALAMANCA AEROPUERTO"
    9º "ILLES BALEARS: PALMA DE MALLORCA, AEROPUERTO" 
    """

' 1º "BARCELONA: BARCELONA AEROPUERTO" \n    2º "SEVILLA: SEVILLA AEROPUERTO" \n    3º "VALENCIA:VALENCIA AEROPUERTO"\n    4º "BIZKAIA: BILBAO AEROPUERTO" \n    5º "MADRID: MADRID, RETIRO" \n    6º "OURENSE: OURENSE" \n    7º  "STA. CRUZ DE TENERIFE: HIERRO AEROPUERTO"\n    8º "SALAMANCA: SALAMANCA AEROPUERTO"\n    9º "ILLES BALEARS: PALMA DE MALLORCA, AEROPUERTO" \n    '

In [67]:
#Para filtrar los nombres de cada estacion, creamos primero una variable con todas las estaciones y luego creamos un filtrado nombrando la columna y añadiendolo con el .isin 

nombres_filtrar = ["BARCELONA AEROPUERTO","SEVILLA AEROPUERTO","VALENCIA AEROPUERTO","BILBAO AEROPUERTO","MADRID, RETIRO","OURENSE","MADRID, RETIRO","OURENSE","SALAMANCA AEROPUERTO", "PALMA DE MALLORCA, AEROPUERTO", "HIERRO AEROPUERTO"]

df_filtrado = df[df["Nombre"].isin(nombres_filtrar)]

df = df_filtrado

df

,Provincia,Nombre,Fecha,Latitud,Longitud,Tmed_min,Tmed_year,Tmed_max,Dias<0º,Dias>30º,Hum relativa,Precipitacion,Lluvia
416,BARCELONA,BARCELONA AEROPUERTO,1979-10,411734N,020412E,12.8,17.1,21.4,0.0,0.0,79.0,292.0,18.0
417,BARCELONA,BARCELONA AEROPUERTO,1979-11,411734N,020412E,5.8,11.3,16.7,0.0,0.0,71.0,50.0,NaN
418,BARCELONA,BARCELONA AEROPUERTO,1979-12,411734N,020412E,4.9,10.0,15.2,2.0,0.0,68.0,25.9,NaN
419,BARCELONA,BARCELONA AEROPUERTO,1979-13,411734N,020412E,10.6,15.3,20.0,3.0,5.0,72.0,755.7,NaN
420,BARCELONA,BARCELONA AEROPUERTO,1979-1,411734N,020412E,6.2,9.6,13.0,1.0,0.0,78.0,154.4,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108506,STA. CRUZ DE TENERIFE,HIERRO AEROPUERTO,2023-8,274908N,175320W,23.6,25.6,27.7,0.0,3.0,74.0,3.8,1.0
108507,STA. CRUZ DE TENERIFE,HIERRO AEROPUERTO,2023-9,274908N,175320W,23.3,25.2,27.1,0.0,0.0,71.0,0.4,3.0
108508,STA. CRUZ DE TENERIFE,HIERRO AEROPUERTO,2023-11,274908N,175320W,21.2,23.3,25.4,0.0,1.0,70.0,15.6,5.0
108509,STA. CRUZ DE TENERIFE,HIERRO AEROPUERTO,2023-12,274908N,175320W,19.3,21.4,23.4,0.0,0.0,NaN,28.6,9.0
108510,STA. CRUZ DE TENERIFE,HIERRO AEROPUERTO,2023-13,274908N,175320W,20.6,22.7,24.8,0.0,16.0,NaN,102.9,54.0

In [68]:
#Creamos la columna Year para separar los meses de los años en la columna de la fecha:

df["Year"] = df["Fecha"].apply(lambda x : x.split("-")[0])

df.head()

C:\Users\Carl\AppData\Local\Temp\ipykernel_9296\2821288964.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = df["Fecha"].apply(lambda x : x.split("-")[0])

,Provincia,Nombre,Fecha,Latitud,Longitud,Tmed_min,Tmed_year,Tmed_max,Dias<0º,Dias>30º,Hum relativa,Precipitacion,Lluvia,Year
416,BARCELONA,BARCELONA AEROPUERTO,1979-10,411734N,020412E,12.8,17.1,21.4,0.0,0.0,79.0,292.0,18.0,1979
417,BARCELONA,BARCELONA AEROPUERTO,1979-11,411734N,020412E,5.8,11.3,16.7,0.0,0.0,71.0,50.0,NaN,1979
418,BARCELONA,BARCELONA AEROPUERTO,1979-12,411734N,020412E,4.9,10.0,15.2,2.0,0.0,68.0,25.9,NaN,1979
419,BARCELONA,BARCELONA AEROPUERTO,1979-13,411734N,020412E,10.6,15.3,20.0,3.0,5.0,72.0,755.7,NaN,1979
420,BARCELONA,BARCELONA AEROPUERTO,1979-1,411734N,020412E,6.2,9.6,13.0,1.0,0.0,78.0,154.4,14.0,1979

In [69]:
#En este codigo, hacemos una eliminacion del mes 13 para no tener la suma total anual a traves de un filtro:

df["mes_13"] = df["Fecha"].apply(lambda x : True if x.split("-")[1] == "13" else False)

df = df[df["mes_13"] == False]

df.drop("mes_13", axis = 1, inplace = True)

df.head()

C:\Users\Carl\AppData\Local\Temp\ipykernel_9296\4190628751.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["mes_13"] = df["Fecha"].apply(lambda x : True if x.split("-")[1] == "13" else False)
C:\Users\Carl\AppData\Local\Temp\ipykernel_9296\4190628751.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop("mes_13", axis = 1, inplace = True)

,Provincia,Nombre,Fecha,Latitud,Longitud,Tmed_min,Tmed_year,Tmed_max,Dias<0º,Dias>30º,Hum relativa,Precipitacion,Lluvia,Year
416,BARCELONA,BARCELONA AEROPUERTO,1979-10,411734N,020412E,12.8,17.1,21.4,0.0,0.0,79.0,292.0,18.0,1979
417,BARCELONA,BARCELONA AEROPUERTO,1979-11,411734N,020412E,5.8,11.3,16.7,0.0,0.0,71.0,50.0,NaN,1979
418,BARCELONA,BARCELONA AEROPUERTO,1979-12,411734N,020412E,4.9,10.0,15.2,2.0,0.0,68.0,25.9,NaN,1979
420,BARCELONA,BARCELONA AEROPUERTO,1979-1,411734N,020412E,6.2,9.6,13.0,1.0,0.0,78.0,154.4,14.0,1979
421,BARCELONA,BARCELONA AEROPUERTO,1979-2,411734N,020412E,5.5,10.4,15.4,0.0,0.0,69.0,11.2,NaN,1979

In [71]:
df = df.groupby(["Provincia", "Nombre", "Latitud", "Longitud", "Year"], as_index = False).agg({"Tmed_min" : "mean", "Tmed_year" : "mean", "Tmed_max" : "mean", "Dias<0º" : "sum",
                                                                                          "Dias>30º" : "sum", "Hum relativa" : "mean", "Precipitacion" : "sum", "Lluvia" : "sum"})

In [72]:
#Variable Lluvia: Tomar datos a partir de 1985, debido a la falta de datos de algunas estaciones de años anteriores.

df

,Provincia,Nombre,Latitud,Longitud,Year,Tmed_min,Tmed_year,Tmed_max,Dias<0º,Dias>30º,Hum relativa,Precipitacion,Lluvia
0,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1979,10.641667,15.333333,20.033333,3.0,5.0,71.750000,755.7,47.0
1,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1980,10.358333,15.083333,19.808333,10.0,3.0,73.166667,432.9,36.0
2,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1981,10.875000,15.583333,20.291667,6.0,7.0,71.750000,428.5,15.0
3,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1982,11.483333,15.875000,20.258333,1.0,12.0,73.916667,702.2,4.0
4,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1983,11.066667,15.741667,20.408333,6.0,18.0,71.916667,757.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2019,12.283333,18.158333,23.958333,3.0,76.0,58.583333,394.3,67.0
401,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2020,12.716667,18.383333,24.033333,4.0,85.0,63.500000,544.2,87.0
402,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2021,13.050000,18.066667,23.033333,8.0,60.0,63.416667,456.2,100.0
403,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2022,13.675000,19.175000,24.616667,6.0,103.0,61.500000,741.9,98.0
404,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2023,13.300000,19.066667,24.766667,5.0,87.0,58.416667,313.9,70.0

In [73]:
#Vamos a redondear con dos decimales las variables de Temperatura y Humedad relativa

df["Tmed_min"] = df["Tmed_min"].round(2)
df["Tmed_year"] = df["Tmed_year"].round(2)
df["Tmed_max"] = df["Tmed_max"].round(2)
df["Hum relativa"] = df["Hum relativa"].round(2)

In [74]:
df

,Provincia,Nombre,Latitud,Longitud,Year,Tmed_min,Tmed_year,Tmed_max,Dias<0º,Dias>30º,Hum relativa,Precipitacion,Lluvia
0,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1979,10.64,15.33,20.03,3.0,5.0,71.75,755.7,47.0
1,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1980,10.36,15.08,19.81,10.0,3.0,73.17,432.9,36.0
2,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1981,10.88,15.58,20.29,6.0,7.0,71.75,428.5,15.0
3,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1982,11.48,15.88,20.26,1.0,12.0,73.92,702.2,4.0
4,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1983,11.07,15.74,20.41,6.0,18.0,71.92,757.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2019,12.28,18.16,23.96,3.0,76.0,58.58,394.3,67.0
401,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2020,12.72,18.38,24.03,4.0,85.0,63.50,544.2,87.0
402,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2021,13.05,18.07,23.03,8.0,60.0,63.42,456.2,100.0
403,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2022,13.68,19.18,24.62,6.0,103.0,61.50,741.9,98.0
404,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2023,13.30,19.07,24.77,5.0,87.0,58.42,313.9,70.0

In [76]:
df = df.replace(np.nan, None)

In [77]:
df

,Provincia,Nombre,Latitud,Longitud,Year,Tmed_min,Tmed_year,Tmed_max,Dias<0º,Dias>30º,Hum relativa,Precipitacion,Lluvia
0,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1979,10.64,15.33,20.03,3.0,5.0,71.75,755.7,47.0
1,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1980,10.36,15.08,19.81,10.0,3.0,73.17,432.9,36.0
2,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1981,10.88,15.58,20.29,6.0,7.0,71.75,428.5,15.0
3,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1982,11.48,15.88,20.26,1.0,12.0,73.92,702.2,4.0
4,BARCELONA,BARCELONA AEROPUERTO,411734N,020412E,1983,11.07,15.74,20.41,6.0,18.0,71.92,757.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2019,12.28,18.16,23.96,3.0,76.0,58.58,394.3,67.0
401,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2020,12.72,18.38,24.03,4.0,85.0,63.5,544.2,87.0
402,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2021,13.05,18.07,23.03,8.0,60.0,63.42,456.2,100.0
403,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2022,13.68,19.18,24.62,6.0,103.0,61.5,741.9,98.0
404,VALENCIA,VALENCIA AEROPUERTO,392906N,002829W,2023,13.30,19.07,24.77,5.0,87.0,58.42,313.9,70.0

In [78]:
# Creamos nuestro archivo final con los datos transformados y lo pasamos a un .csv

df_csv = 'df.csv'

df.to_csv(df_csv, index=False)